@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

body {
  font-family: Inter, sans-serif;
}
.active {
  background: rgb(237, 202, 202);
  border-radius: 5px;
  padding: 7px;
}

.custom-outline {
  -webkit-text-stroke: 0.3px black;
}

.mention-span {
  background: rgb(113, 199, 236);
}
.mention-span:hover {
  text-decoration: underline;
}
